<% if(type == 'normal') { %>

	<div class="row">
    <embed src="<%= src %>" width="100%" height="550" type="application/pdf">
	</div>

<% } else if (type == 'googledoc'){ %>

	<div class="row">
		<iframe src="<%= src %>" style="width:100%; height:550px"></iframe>
	</div>

<% } else if(type == 'slideshare') { %>
	<iframe src="<%= src %>" style="width:100%;height:550px" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px">
<% } %>
